@mixin sass-box-sizing($type = "border") {
	/* Acceptable values are border, content, and padding - content is the default W3C model */ 
	box-sizing: #{$type}-box;
	-webkit-box-sizing: #{$type}-box;
	-moz-box-sizing: #{$type}-box;
}
	